//main colors
$body: #FFFFFF;
$primary-color: #176660;
$secondary-color: #f08040;
$text: #00534d;
$text-light: #FFFFFF;
$light: #FFFFFF;
$transparent: transparent;
$gray: #969595;
$gray2: #e4e3e3;

.color_primary {
    color: $primary-color
}
.color_secondary {
    color: $secondary-color
}
.color_light {
    color: $light
}
